TravelGoodREST/TravelGoodRESTClient/src/META-INF/wsdl/fastmoney.imm.dtu.dk_8080/BankService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn://fastmoney.imm.dtu.dk" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn://fastmoney.imm.dtu.dk" name="BankService">
<types>
<xsd:schema>
<xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="chargeCreditCard">
<part xmlns:ns1="urn://types.fastmoney.imm.dtu.dk" name="parameters" element="ns1:chargeCreditCard"></part>
</message>
<message name="chargeCreditCardResponse">
<part xmlns:ns2="urn://types.fastmoney.imm.dtu.dk" name="parameters" element="ns2:chargeCreditCardResponse"></part>
</message>
<message name="CreditCardFaultMessage">
<part xmlns:ns3="urn://types.fastmoney.imm.dtu.dk" name="fault" element="ns3:CreditCardFault"></part>
</message>
<message name="validateCreditCard">
<part xmlns:ns4="urn://types.fastmoney.imm.dtu.dk" name="parameters" element="ns4:validateCreditCard"></part>
</message>
<message name="validateCreditCardResponse">
<part xmlns:ns5="urn://types.fastmoney.imm.dtu.dk" name="parameters" element="ns5:validateCreditCardResponse"></part>
</message>
<message name="refundCreditCard">
<part xmlns:ns6="urn://types.fastmoney.imm.dtu.dk" name="parameters" element="ns6:refundCreditCard"></part>
</message>
<message name="refundCreditCardResponse">
<part xmlns:ns7="urn://types.fastmoney.imm.dtu.dk" name="parameters" element="ns7:refundCreditCardResponse"></part>
</message>
<portType name="BankPortType">
<operation name="chargeCreditCard">
<input message="tns:chargeCreditCard"></input>
<output message="tns:chargeCreditCardResponse"></output>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage"></fault>
</operation>
<operation name="validateCreditCard">
<input message="tns:validateCreditCard"></input>
<output message="tns:validateCreditCardResponse"></output>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage"></fault>
</operation>
<operation name="refundCreditCard">
<input message="tns:refundCreditCard"></input>
<output message="tns:refundCreditCardResponse"></output>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage"></fault>
</operation>
</portType>
<binding name="BankPortBinding" type="tns:BankPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="chargeCreditCard">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"></soap:fault>
</fault>
</operation>
<operation name="validateCreditCard">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"></soap:fault>
</fault>
</operation>
<operation name="refundCreditCard">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="BankService">
<port name="BankPort" binding="tns:BankPortBinding">
<soap:address location="http://fastmoney.imm.dtu.dk:8080/BankService"></soap:address>
</port>
</service>
</definitions>