LameDuckSoap/LameTest/src/META-INF/wsdl/localhost_8080/LameDuck/LameDuckService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.netbeans.org/schema/AirlineSchema" targetNamespace="http://xml.netbeans.org/schema/AirlineSchema" elementFormDefault="qualified">
    <xsd:complexType name="FlightList">
                <xsd:sequence>
                    <xsd:element name="flightInformation" maxOccurs="unbounded" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="bookingNumber" type="xsd:int"/>
                                <xsd:element name="price" type="xsd:int"/>
                                <xsd:element name="airline" type="xsd:string"/>
                                <xsd:element name="Flight" type="tns:flight"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flight">
                <xsd:sequence>
                    <xsd:element name="StartAirport" type="xsd:string"/>
                    <xsd:element name="DestinationAirport" type="xsd:string"/>
                    <xsd:element name="liftOffDate" type="xsd:date"/>
                    <xsd:element name="liftOffTime" type="xsd:time"/>
                    <xsd:element name="landingDate" type="xsd:date"/>
                    <xsd:element name="landingTimetim" type="xsd:time"/>
                        <xsd:element name="carrier" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
    <xsd:complexType name="bookFlightFaultType">
        <xsd:sequence>
            <xsd:element name="description" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="bookFlightFaultElement" type="tns:bookFlightFaultType"/>
</xsd:schema>