history/TravelGoodWSDL_old.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelGoodWSDL" targetNamespace="http://TravelGood.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://TravelGood.ws" xmlns:ns="http://types.NiceView.ws" xmlns:ns0="http://types.LameDuck.ws" xmlns:ns1="urn://types.fastmoney.imm.dtu.dk" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <types>
        <xsd:schema targetNamespace="http://TravelGood.ws" xmlns:tns="http://TravelGood.ws" >
                    <!-- xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
                    elementFormDefault="qualified"
                    jaxb:version="2.0"
                    >
                    -->

            <!--<xsd:import namespace="http://types.NiceView.ws" schemaLocation="localhost_8080/NiceViewService/NiceViewWSDLService.xsd_1.xsd"/>-->
            <xsd:import namespace="http://xml.netbeans.org/schema/AirlineSchema" schemaLocation="http://localhost:8080/LameDuck/LameDuckService?xsd=1"/>
            <!--<xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="fastmoney.imm.dtu.dk_8080/BankService.xsd_1.xsd"/>-->

            <xsd:complexType name="bookType">
                <xsd:sequence>
                    <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                    <xsd:element name="bookingStatus" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <!--
    <wsdl:import namespace="http://j2ee.netbeans.org/wsdl/NiceView/java/NiceView" schemaLocation="http://localhost:8080/NiceView/NiceViewService?wsdl"/>
    -->
    <message name="createItineraryRequest">
        <part name="customer" type="xsd:string"/>
        <part name="itineraryNumber" type="xsd:int"/>
    </message>
    <message name="createItineraryResponse">
        <part name="confirmation" type="xsd:string"/>
    </message>
    <message name="getHotelRequest">
        <part name="city" type="xsd:string"/>
        <part name="arrivalDate" type="xsd:date"/>
        <part name="departureDate" type="xsd:date"/>
        <part name="customer" type="xsd:string"/>
        <part name="itineraryId" type="xsd:int"/>
    </message>
    <message name="getHotelResponse">
        <part name="hotelList" type="ns:hotelListType"/>
    </message>
    <message name="getFlightRequest">
        <part name="flightStart" type="xsd:string"/>
        <part name="flightDestination" type="xsd:string"/>
        <part name="flightDate" type="xsd:date"/>
        <part name="customer" type="xsd:string"/>
        <part name="itineraryNumber" type="xsd:int"/>
    </message>
    <message name="getFlightResponse">
        <part name="flightList" type="ns0:flightInformationsListType"/>
    </message>
    <message name="addFlightRequest">
        <part name="bookingNumber" type="xsd:string"/>
        <part name="customer" type="xsd:string"/>
        <part name="itineraryNumber" type="xsd:int"/>
    </message>
    <message name="addFlightResponse">
        <part name="addFlightConfirmation" type="xsd:string"/>
    </message>
    <message name="addHotelRequest">
        <part name="bookingNumber" type="xsd:string"/>
        <part name="customer" type="xsd:string"/>
        <part name="itineraryNumber" type="xsd:int"/>
    </message>
    <message name="addHotelResponse">
        <part name="addHotelConfirmation" type="xsd:string"/>
    </message>
    <message name="bookingItineraryRequest">
        <part name="customer" type="xsd:string"/>
        <part name="itineraryNumber" type="xsd:int"/>
        <part name="creditCardInformation" type="ns0:creditCardInformationType"/>
    </message>
    <message name="bookingItineraryResponse">
        <part name="bookingConfirmation" type="xsd:string"/>
    </message>
    <message name="cancelItineraryRequest">
        <part name="customer" type="xsd:string"/>
        <part name="itineraryNumber" type="xsd:int"/>
    </message>
    <message name="cancelItineraryResponse">
        <part name="cancelConfirmation" type="xsd:string"/>
    </message>
    <message name="getItineraryRequest">
        <part name="customer" type="xsd:string"/>
        <part name="itineraryNumber" type="xsd:int"/>
    </message>
    <message name="getItineraryResponse">
        <part name="bookingsHotel" type="tns:bookType" maxOccurs="unbounded" minOccurs="0"/>
        <part name="bookingsFlight" type="tns:bookType" maxOccurs="unbounded" minOccurs="0"/>
        <part name="itineraryStartDate" type="xsd:date"/>
    </message>
    <portType name="TravelGoodWSDLPortType">
        <operation name="createItinerary">
            <input name="input1" message="tns:createItineraryRequest"/>
            <output name="output1" message="tns:createItineraryResponse"/>
        </operation>
        <operation name="getHotel">
            <input name="input2" message="tns:getHotelRequest"/>
            <output name="output2" message="tns:getHotelResponse"/>
        </operation>
        <operation name="getFlight">
            <input name="input3" message="tns:getFlightRequest"/>
            <output name="output3" message="tns:getFlightResponse"/>
        </operation>
        <operation name="addHotel">
            <input name="input4" message="tns:addHotelRequest"/>
            <output name="output4" message="tns:addHotelResponse"/>
        </operation>
		<operation name="addFlight">
            <input name="input5" message="tns:addFlightRequest"/>
			<output name="output5" message="tns:addFlightResponse"/>
        </operation>
        <operation name="bookingItinerary">
            <input name="input6" message="tns:bookingItineraryRequest"/>
            <output name="output6" message="tns:bookingItineraryResponse"/>
        </operation>
        <operation name="cancelItinerary">
            <input name="input7" message="tns:cancelItineraryRequest"/>
            <output name="output7" message="tns:cancelItineraryResponse"/>
        </operation>
        <operation name="getItinerary">
            <input name="input8" message="tns:getItineraryRequest"/>
            <output name="output8" message="tns:getItineraryResponse"/>
        </operation>
    </portType>
    <binding name="TravelGoodWSDLPortTypeBinding" type="tns:TravelGoodWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createItinerary">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </input>
            <output name="output1">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </output>
        </operation>
        <operation name="getHotel">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </input>
            <output name="output2">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </output>
        </operation>
        <operation name="getFlight">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </input>
            <output name="output3">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </output>
        </operation>
		<operation name="addHotel">
            <soap:operation/>
            <input name="input4">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </input>
            <output name="output4">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </output>
        </operation>
        <operation name="addFlight">
            <soap:operation/>
            <input name="input5">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </input>
            <output name="output5">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </output>
        </operation>

        <operation name="bookingItinerary">
            <soap:operation/>
            <input name="input6">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </input>
            <output name="output6">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </output>
        </operation>
        <operation name="cancelItinerary">
            <soap:operation/>
            <input name="input7">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </input>
            <output name="output7">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </output>
        </operation>
        <operation name="getItinerary">
            <soap:operation/>
            <input name="input8">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </input>
            <output name="output8">
                <soap:body use="literal"
                namespace="http://TravelGood.ws" />
            </output>
        </operation>
    </binding>
    <service name="TravelGoodWSDLService">
        <port name="TravelGoodWSDLPortTypeBindingPort" binding="tns:TravelGoodWSDLPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>

</definitions>