LameDuckSoap/LameDuck/src/java/LameDuck.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- @author Diego Gonzalez -->
<definitions name="LameDuck" targetNamespace="urn:LameDuck"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:LameDuck" xmlns:ns0="http://xml.netbeans.org/schema/AirlineSchema" xmlns:ns="urn://types.fastmoney.imm.dtu.dk" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types>
        <xsd:schema targetNamespace="urn:LameDuck" xmlns:tns="urn:LameDuck" xmlns:ns0="urn:AirlineXmlSchema" xmlns:ns1="http://xml.netbeans.org/schema/AirlineSchema">
            <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1" />
            <xsd:import namespace="http://xml.netbeans.org/schema/AirlineSchema" schemaLocation="AirlineSchema.xsd"/>
        </xsd:schema>
    </types>
    <message name="getFlightsRequest">
        <part name="Source" type="xsd:string"/>
        <part name="destination" type="xsd:string"/>
        <part name="date" type="xsd:date"/>
    </message>
    <message name="getFlightsResponse">
        <part name="flightList" type="ns0:FlightList"/>
    </message>
    <message name="LameDuckOperationRequest">
        <part name="bookingnumber" type="xsd:int"/>
        <part name="creditcard" type="ns:creditCardInfoType"/>
    </message>
    <message name="LameDuckOperationResponse">
        <part name="status" type="xsd:boolean"/>
    </message>
    <message name="bookFlightFault">
        <part name="fault" element="ns0:bookFlightFaultElement"/>
    </message>
    <message name="LameDuckOperationRequest1">
        <part name="bookingnumber1" type="xsd:int"/>
        <part name="price1" type="xsd:int"/>
        <part name="credircardinfo1" type="ns:creditCardInfoType"/>
    </message>
    <message name="LameDuckOperationResponse1">
        <part name="status1" type="xsd:boolean"/>
    </message>
    <message name="cancelFlightFaultMessage">
        <part name="description1" element="ns0:bookFlightFaultElement"/>
    </message>
    <portType name="LameDuckPortType">
        <operation name="getFlights">
            <input name="input1" message="tns:getFlightsRequest"/>
            <output name="output1" message="tns:getFlightsResponse"/>
        </operation>
        <operation name="bookFlight">
            <input name="input2" message="tns:LameDuckOperationRequest"/>
            <output name="output2" message="tns:LameDuckOperationResponse"/>
            <fault name="fault1" message="tns:bookFlightFault"/>
        </operation>
        <operation name="cancelFlight">
            <input name="input3" message="tns:LameDuckOperationRequest1"/>
            <output name="output3" message="tns:LameDuckOperationResponse1"/>
            <fault name="cancelflightfault" message="tns:cancelFlightFaultMessage"/>
        </operation>
    </portType>
    <binding name="LameDuckPortTypeBinding" type="tns:LameDuckPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://nowarning"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://nowarning"/>
            </output>
        </operation>
        <operation name="bookFlight">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="http://nowarning"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://nowarning"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelFlight">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="http://nowarning"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="http://nowarning"/>
            </output>
            <fault name="cancelflightfault">
                <soap:fault name="cancelflightfault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="LameDuckService">
        <port name="LameDuckPortTypeBindingPort" binding="tns:LameDuckPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="role1" portType="tns:LameDuckPortType"/>
    </plink:partnerLinkType>
</definitions>
